# Sample gitconfig
#
# This is a sample gitconfig. Usually we keep a lot of sensitive information
# here (things like authentication tokens, email addresses, and so on), so this
# file is ignored in this project's .gitignore.
#
# To set this up, rename this file to `gitconfig.symlink` and you'll be able to
# install this to the correct location by running the project's main `rake`
# task.
[user]
  name = AUTHORNAME
  email = AUTHOREMAIL

# so much color
[color]
  status = auto
  branch = auto
  diff = auto
  interactive = auto
	ui = always

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[alias]
  stat = status
  quicklog = log --pretty=format:\"%h %cr %cn %Cgreen%s%Creset\"
  unpushed = !GIT_CURRENT_BRANCH=$(git name-rev --name-only HEAD) && git log origin/$GIT_CURRENT_BRANCH..$GIT_CURRENT_BRANCH --oneline
  deliver = !$ZSH/git/git-deliver/deliver.sh
  co = checkout
  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
  rank-contributors = !$ZSH/bin/git-rank-contributors
  count   = !git shortlog -sn
  dig = "!f() { git log --oneline -- $1  | awk -- '{print $1}' | xargs -n 1 -I{} bash -c \"git log --oneline -1 {} ; git diff --name-status {}^ {} \"; }; f"
  files = "!f() { git diff --name-status $1^ $1; }; f"

[gui]
  fontui = -family Monaco -size 10 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family Monaco -size 10 -weight normal -slant roman -underline 0 -overstrike 0

[core]
  excludesfile = ~/.gitignore

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
  keepBackup = false

[push]
  default = simple
