vim/vim.symlink/.netrwhist
vim/vim.symlink/backups
vim/vim.symlink/plugged
vim/vim.symlink/autoload/plug.vim.old
docker/boot2docker.symlink/.vagrant
mediatomb/mediatomb.symlink/mediatomb.db
mediatomb/mediatomb.symlink/mediatomb.html
vim/vim.symlink/backup/*.sw[lmnop]
*.sublime-workspace
karabiner/karabiner.config/automatic_backups/
Brewfile.lock.json
