# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'


# =------------------------------------------------------------------------------------= Config =--=
# Nerd Font Characters: https://www.nerdfonts.com/cheat-sheet

add_newline = false

# Gradients - Pleasant fades between two bold colors
# 154, 148, 184, 214, 208, 203
# 214, 208, 203, 198, 199, 164
# 198, 199, 164, 129, 093, 063
# 129, 093, 063, 033, 039, 044
# 033, 039, 044, 049, 048, 083
# 049, 048, 083, 118, 154, 184

format = """
[\ue0b6](fg:129)[ $username@$hostname ](bg:129 fg:black)\
[\ue0c6](fg:129 bg:93)[\ue0c6](fg:93 bg:63)[\ue0c6](fg:63 bg:33)[\ue0c6](fg:33 bg:39)[\ue0c6](fg:39 bg:44)\
$directory\
$nodejs\
$php\
$ruby\
$golang\
$python\
$package\
$jobs\
[\ue0b4](fg:44)\
$cmd_duration\
$fill\
$time\
$line_break\
[ ╙─](fg:129)\
$status \
$git_status$git_branch$git_state\
$character"""

# right_format = """$time"""


# =-----------------------------------------------------------------------------------= Modules =--=
# Starship Modules: https://starship.rs/config

[username]
show_always = true
style_user = "bg:129 fg:black"
style_root = "bg:129 fg:red bold"
format = "[$user]($style)"

[hostname]
ssh_only = false
ssh_symbol = " \uf1d9"
style = "bg:129 fg:black"
format = "[$hostname$ssh_symbol]($style)"

[directory]
style = "bg:44 fg:black"
read_only_style = "bg:44 fg:red"
format = "[ $path ($read_only )]($style)"
truncate_to_repo = false
truncation_length = 8

[nodejs]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol($version )]($style)"

[php]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol($version )]($style)"
symbol = "\ue73d "

[ruby]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol($version )]($style)"
symbol = "\ue791 "

[golang]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol($version )]($style)"
symbol = "\ue65e "

[python]
style = "bg:44 fg:black"
format = "[\ue0b1 ${symbol}(${version} )(\\($virtualenv\\) )]($style)"
symbol = "\ue606 "

[package]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol$version ]($style)"
symbol = "\uf487 "

[jobs]
style = "bg:44 fg:black"
format = "[\ue0b1 $symbol$number ]($style)"

[cmd_duration]
style = "fg:198 bold"
format = " took [$duration]($style) "
# show_milliseconds = true

[fill]
symbol = " "
style = "bold black"

[git_branch]
style = "fg:223"
format = "[$branch(:$remote_branch)]($style) "

[git_status]
format = "[⎇ ](fg:208)$all_status$ahead_behind "
ahead = "[⇡${count}](red)"
behind = "[⇣${count}](cyan)"
untracked = "[●](red)"
staged = "[●](green)"
modified = "[●](yellow)"
deleted = ""
renamed = ""

[status]
disabled = false
symbol = "🔥"
style = "red"
format = "[$symbol $status]($style)"

[character]
success_symbol = "[»](fg:22)[»](fg:34)[»](fg:46)"
error_symbol = "[»](fg:52)[»](fg:124)[»](fg:196)"
format = "$symbol "

[time]
disabled = false
format = "[\ue0b6](fg:49)[ $time ](bg:49 fg:black)[\ue0b4](fg:49)"
time_format = "%a, %b %d %H:%M"
